/* .coin__table {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.coin__row {

    width: 81%;
    height: 81px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;

}


.coin {

    display: flex;
    align-items: center;
    padding-right: 27px;
    min-width: 360px;

}

.coin h1 {

    width: 210px;
    font-size: 16px;
    margin-left: 9px;

}


.coin img {

    height: 30px;
    width: 30px;
    margin-right: 12px;
    margin-left: 12px;

}


.coin__symbol {
    text-transform: uppercase;
}


.coin__data {

    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;

}


.coin__price {

    width: 210px;
    margin: 0 auto;

}


.coin__marketcap {

    width: 155px;
    margin-right: 12px;

}


.coin__percent {
    width: 100%;
}


.red {
    color: #f00600;
}


.green {
    color: #11d811;
} */